*{
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body{

    min-height: 100vh;
    width: 100vw;

    background-color: #141414;
    color: white;

    display: grid;
    grid-template-rows: 10% 20% 60% 10%;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav{
    grid-area: nav;

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;

    text-align: center;
    
}

nav div{
    width: calc(100% / 6);
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

header, main{
    margin: 0 10%;
    
}

header{
    
}