body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 15px;
    width: 90%
}
header {
    background-color: #ffffff;
    text-align: center;
    padding:  15px 0;
}
h1 {
    margin: 0;
    font-size: 2px;
}

.content {
    background-color: #4f6d7a;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 800px;
    min-width: 400px;
    color: white;
}

main {
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
}



footer {
    text-align: center;
    padding: 15px 0;
    background-color: #ffffff;
}


.cementix{
    position: absolute;
    display: flex;
    margin: auto;
    top: 50px;
    left: 50px;
    width: auto;
    


}