:root {
    --gap: 2.5vh;
    --border-radius : 2em;
}


body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    opacity: 1;
}

.page {

    
    height: 100vh;
    width: 56.25vh;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    align-content: flex-start;
    justify-content: center;
}

.long, .big, .small, .parameters {
    background-color: #292929;
    border-radius: var(--border-radius);
}

.parameters {
    width: calc(100% - var(--gap));
    height: calc(28.125vh / 10);

    display: flex;
}

.long {
    width: calc(100% - var(--gap));
    height: calc(28.125vh - var(--gap));
}

.row {
    display: flex;
    width: 56.25vh;
    gap: var(--gap);
    justify-content: center;
}

.small {
    width: calc(50% - var(--gap));
    height: calc(28.125vh - var(--gap));
}

.big {
    width: calc(100% - var(--gap));
    height: calc(28.125vh / 2);
}

.row.no-center {
    margin: 1em 0 0 0;
    justify-content: flex-start;
    padding: 0 2em;
}

img {
    margin-left: auto;
    height: 5em;
}

h1 {
    font-size: 1.75em;
    font-weight: 10;
}

.trimestres{
    width: calc(28.125vh - var(--gap));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--border-radius);

    font-weight: bold;
    
}

.trimestres ~ .trimestres{
    margin-left: var(--gap);
}