body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333333;
    margin: 0;
    padding: 2%;
    padding-left: 90px;
    width: 90%
}
header {
    background-color: #ffffff;
    text-align: center;
    padding:  2% 0;
}
h1 {
    margin: 0;
    font-size: 2px;
}

.content {
    background-color: #d9e4ec;
    padding: 2.5%;
    border-radius: 2%;
    flex: 1;
    max-width: 90%;
    min-width: 50%;
    color: #333333;
}

main {
    max-width: 95%;
    margin: 2% auto;
    padding: 1.5%;
    background-color: #EEEEEE;
}



footer {
    text-align: center;
    padding: 2% 0;
    background-color: #ffffff;
}


.cementix{
    position: fixed;
    top: 5%;
    left: 5%;
    width: auto;
    
}


.jeux{
    display: flex;
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;

}

.bouton{
    background-color: #0077b6;
    color: white;
    padding: 15px;
    border-radius: 10px;

}

.bouton:hover {
    transform: translateY(-5px);
    background-color: #023e8a;
}

