/* Ensemble */
* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;

}

/* Body */
body {
    width: 90vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;
    gap: 2vw;
    margin: auto;
}

/* Header */
header,
footer {

    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;


}

header {

    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    gap: 5vw;

}

#page-title {
    font-weight: bolder;
    cursor: help;
}

/* Description */
.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 5vw;
}

#descriptionText.hidden {
    opacity: 0;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 2vw;

    width: 10vw;

}

.description button {
    height: 50%;
    aspect-ratio: 1;
    border-radius: 100em;
    border: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 17L17 7M17 7H8M17 7V16' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);

    transition: transform 0.5s ease;

    cursor: pointer;

}

#displayLabel {
    transition: opacity 0.5s ease;
    opacity: 1;
}

#descriptionText {
    font-size: small;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Historique */
.history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    gap: 5vw;

}

#historyContainer {

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5vw;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    width: 80%;

}

#historyContainer::-webkit-scrollbar {
    display: none;
}

#historyContainer span {
    font-weight: bold;
    text-align: center;
}


.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;


}

.article-title,
.article-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.article .article-title span,
.article .article-content span {
    cursor: help;
}

.article-title {
    font-weight: bold;
    font-size: larger;
}



form,
.generate {
    display: grid;
    grid-template-columns: 70vw 15vw;
    gap: 5vw;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#form-input {
    padding-left: 2%;
}


.hidden {
    opacity: 0;
}

.guessed {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.near {
    color: #d3d3d3;
}

/* 0.45-0.99 */

.exact-match {
    color: #4CAF50;
    font-weight: bold;
}

#tooltip {
    position: absolute;
    background-color: #1E1E1E;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: x-small;
    display: none;
    z-index: 1000;

}

.highlight {
    background: linear-gradient(90deg, #ff6ec4, #ffc6ec, #7873f5);
    /* Ajoute une couleur intermédiaire */
    background-size: 300% auto;
    /* Plus large = fondu plus progressif */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientMove 5s ease-in-out infinite;
    /* Plus lent + fondu doux */
}

@keyframes gradientMove {
    0% {
        background-position: 0% center;
    }

    50% {
        background-position: 100% center;
    }

    100% {
        background-position: 0% center;
    }
}